/* Footer style */

.retalify-footer {
    position: relative;
    background-color: whitesmoke;
    margin: 0;
}

.footer-section-subscribe {
    margin: 2%;
}

.footer-section-copyright {
    position: absolute;
    top: 100px;
    left: 20%;
}

/*.footer-section-social {*/
    /*position: absolute;*/
    /*left: 45%;*/
    /*margin-top: 2%;*/
/*}*/

.footer-btn-subscribe {
    margin-left: 5%;
}