/* Footer style */

#retalify-footer {
    position: relative;
}

#footer-container {
    position: relative;
    background-color: #424242;
    bottom: 0;
    margin: 0;
}

#footer-section-subscribe {
    position: absolute;
    left: 10%;
    top: 5%;
}

#footer-section-subscribe md-input-container {
    margin-left: 5%;
}

#footer-btn-subscribe {
    margin-left: 5%;
}

#footer-section-copyright {
    position: absolute;
    left: 45%;
    top: 15%;
    color: grey;
}

#footer-section-social {
    position: absolute;
    top: 15%;
    left: 43%;
}