/* Footer style */

.retalify-footer {
    background-color: #fafafa;
    position: relative;
}

.footer-section-subscribe {
    margin-top: 2%;
}

.footer-section-copyright {
    position: relative;
    left: 46%;
    margin-top: 2%;
}

.footer-section-social {
    position: relative;
    left: 45%;
    margin-top: 2%;
}

.retalify-footer .retalify-fab {
    position: absolute;
    right: 50%;
    top: -26px;
}

.retalify-footer .retalify-txtfield {
    margin-left: 5%;
}

.footer-btn-subscribe {
    margin-left: 5%;
}