/* Header style */

.retalify-header .header-toolbar {
    background-color: whitesmoke;
}

.header-title {
    position: absolute;
    left: 50%;
}

.header-logo-image {
    height: 60px;
    width: 100px;
}

.header-div-btn-request-demo {
    position: absolute;
    left: 90%;
    margin-top: 10px;
}