/* Header style */

.retalify-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    z-index: 2;
}

.retalify-header .header-toolbar {
    position: relative;
    background-color: whitesmoke;
}

.header-nav {
    position: relative;
    top: 13%;
}

.header-title {
    position: relative;
    left: 13%;
    top: 10%;
    font-size: 40px;
    font-weight: 800;
    color: teal;
}

.header-logo-image {
    height: 100%;
    width: 100px;
}

.header-btn-get-demo {
    position: relative;
    left: 45%;
    top: 10%;
}