/* Retalify styles */

html {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a img{
    border: 0;
}

main {
    margin-top: 14px;
    margin-bottom: 50px;
}

.retalify-layout {}

.retalify-btn {}

.retalify-txtfield {}

.retalify-fab {}

.retalify-link {}