/* Retalify styles */

html {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
    margin: 0;
}

a img{
    border: 0;
}

.retalify-layout {}

.retalify-btn {}

.retalify-txtfield {}

.retalify-fab {
    z-index: 3;
    background: #64ffda;
    color: black !important;
}

.retalify-link {
    text-decoration: none;
    color: #8bc34a !important;
}

.retalify-link:hover {
    color: #7cb342 !important;
}