.retalify-content {
    position: relative;
}

.retalify-content section {
    position: relative;
}

.home-container {
    position: relative;
}

.home-section-cover {
    height: 700px;
    width: auto;
    background: url('../../img/cover2.jpg') center center no-repeat;
    background-size: cover;
}

.home-slogan {
    position: relative;
    font-size: 20px;
    top: 30%;
    left: 40%;
    line-height: 1;
    color: whitesmoke;
    font-weight: 200;
}

.home-btn-raise-capital {
    position: relative;
    top: 30%;
    left: 48%;
}

.home-btn-down {
    position: relative;
    z-index: 1;
    top: 74%;
    left: 80%;
}

.home-mission {
    position: relative;
    top: 55%;
    left: 25%;
    width: 50%;
}

.home-mission md-card {
    padding: 20px;
}

.home-section-title, .home-section-subtitle {
    position: relative;
    text-align: center;
    color: teal;
}

.home-section-content {
    position: relative;
}

.home-section-about-us {
    margin-top: 100px;
}

.home-section-how-it-works {
    margin-top: 100px;
}

.home-section-discover {
    margin-top: 100px;
}

.home-section-contact {
    margin-top: 100px;
}

.home-section-about-us .home-section-content {
    left: 25%;
}

.home-section-about-us md-card {
    width: 50%;
    padding: 10px;
}

.home-section-how-it-works md-card {
    width: 30%;
    padding: 10px;
}

.home-section-discover .home-section-content {
    left: 35%;
    padding: 10px;
}

.home-section-discover md-card {
    width: 30%;
}

.home-section-contact md-card {
    width: 30%;
}


