#rc-container {
    position: relative;
    left: 25%;
    margin-top: 100px;
    margin-bottom: 50px;
}

#rc-container md-card {
    width: 50%;
}

#rc-btn-submit {
    position: relative;
    right: 0;
}