<div id="sp-container" layout="column" layout-padding ng-cloak>
  <div id="user-info" class="sign-up-box">
    <md-card>
        <md-card-title>GET ON THE LIST</md-card-title>
          <md-card-content>
              <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Name</label>
                <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                <input ng-model="user.firstName" type="text">
              </md-input-container>

              <md-input-container class="md-icon-float md-block">
                <label> Last Name </label>
                <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                <input ng-model="user.lastName" type="text">
              </md-input-container>

              <md-input-container class="md-block">
                <!-- Use floating placeholder instead of label -->
                <md-icon md-svg-src="img/icons/ic_create_24px.svg" class="email"></md-icon>
                <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
              </md-input-container>
          </md-card-content>
      </md-card>
  </div>

  <div class="user-skillset">
     <md-card>
        <md-card-title>GET ON THE LIST</md-card-title>
          <md-card-content>
             <div class="user-skillset-row" layout="row">

               <div class="skill" style="border-right-style:none;border-bottom-style:none;" layout="column">
                  <md-icon md-svg-src="img/icons/ic_note_black_24px.svg" class="skill-icon"></md-icon>
                 <span> Accounting/Finance </span>
               </div>

               <div class="skill" style="border-right-style:none;border-bottom-style:none;" layout="column">
                  <md-icon md-svg-src="img/icons/ic_create_black_24px.svg" class="skill-icon"></md-icon>
                 <span> Data Science/ Analytics </span>
               </div>

               <div class="skill" style="border-bottom-style:none" layout="column">
                  <md-icon md-svg-src="img/icons/ic_work_black_24px.svg" class="skill-icon"></md-icon>

                  <span> Legal/Compliance </span>
               </div>

             </div>

             <div class="user-skillset-row" layout="row">

               <div class="skill" style="border-right-style:none" layout="column">
                  <md-icon md-svg-src="img/icons/ic_shopping_basket_black_24px.svg" class="skill-icon"></md-icon>
                  <span> Accounting/Finance </span>
               </div>

               <div class="skill" style="border-right-style:none" layout="column">
                  <md-icon md-svg-src="img/icons/ic_timeline_black_24px.svg" class="skill-icon"></md-icon>
                  <span> Data Science/ Analytics </span>
               </div>

               <div class="skill" layout="column">
                  <md-icon md-svg-src="img/icons/ic_trending_up_black_24px.svg" class="skill-icon"></md-icon>
                  <span> Legal/Compliance </span>
               </div>
            </div>
         </md-card-content>

  </div>

  <div id="user-about" class="sign-up-box">
    <md-card>
        <md-card-title>ABOUT</md-card-title>
          <md-card-content>
              <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>What I do </label>
                <md-icon md-svg-src="../img/icons/ic_person_24px.svg" class="name"></md-icon>
                <textarea ng.model="user.achievements"> </textarea>
              </md-input-container>

              <md-input-container class="md-icon-float md-block">
                <!-- Use floating label instead of placeholder -->
                <label>Achievements </label>
                  <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                  <textarea ng.model= "user.achievements"> </textarea>
              </md-input-container>

              <md-input-container class="md-icon-float md-block">
                  <label>Country</label>
                    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                  <md-select ng-model="user.country">
                    <md-option> USA </md-option>
                  </md-select>
              </md-input-container>
          </md-card-content>
      </md-card>
  </div>

</div>
