.retalify-content {
    position: relative;
}

.home-container {
    position: relative;
}

.home-section-cover {
    height: 800px;
    width: auto;
    background: url('../../img/retalify-cover.jpg') center center no-repeat;
    background-size: cover;
}

.home-slogan {
    font-size: 60px;
    padding-top: 160px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-weight: 500;
}

.home-section-discover {
    position: relative;
    padding: 60px;
}
